# Cockpit environment variables
COCKPIT_DASHBOARD_PORT=8090
COCKPIT_DASHBOARD_TOKEN=
COCKPIT_DASHBOARD_CORS_ORIGIN=http://localhost:8090
COCKPIT_DASHBOARD_RATE_LIMIT=60
COCKPIT_AUTH_REQUIRED=false
COCKPIT_JWT_TOKEN=
RUNTIME_HOME=~/runtime
